@charset "UTF-8";
/*dette er et eksempel på transitions med css*/
div{
  width: 100px;
  height: 100px;
  background: #008080;
  transition-property: width height;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-timing-function:(cubic-bezier(.65,.8,.95,.11));
}
div:hover{
  width: 300px;
  height: 300px;
}
